---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Experience from '../components/Experience.astro';
import MyProjects from '../components/MyProjects.astro';
import BentoGrid from '../components/BentoGrid.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Hero/>
		<!-- <BentoGrid/> -->
		<Experience/>
		<MyProjects/>
		
	</main>
</Layout>

